*{
    box-sizing:border-box;
  }
  
  body{
    font-family:sans-serif;
    background-color:#FCF0CC;
    margin:0;
  }
  
  nav{
    background-color:#861657;
    color:#fff;
    padding:17px;
    display:flex;
    justify-content:flex-end;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:100;
  }
  
  nav a{
    color:#fff;
    margin-left:20px;
    text-decoration:none;
    cursor:pointer;
  }
  
  nav a:hover{
    text-decoration:underline;
  }
  
  header{
    background-image: url("https://images.unsplash.com/photo-1562813733-b31f71025d54?auto=format&fit=crop&q=80&w=1769&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
    background-position:center center;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    color:#fff;
    height:100vh;
    position:relative;
  }
  
  header::after{
    content:"";
    background-color:#000;
    position:aboslute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    opacity:0.8;
  }
  
  header *{
    position:relative;
    z-index:1;
  }
  
  header h1{
    font-size:60px;
    margin-bottom:5px;
    margin-top:0;
  }
  
  header p{
    font-size:30px;
    margin:0;
  }
  
  section{
    padding:40px;
    text-align:center;
  }
  
  section h2{
    margin:0;
  }
  
  section p{
    margin-top:0;
  }
  
  .project-tile{
    max-width:250px;
    margin:10px;
  }
  
  .project-tile img{
    max-width:100%;
  }
  
  .project-tile p{
    font-size:20px;
    margin-top:10px;
  }
  
  .projects-container{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .bg-pinkish{
    background-color:#a64253;
    color:#fff;
  }
  
  .social-ul{
    display:flex;
    list-style-type:none;
    justify-content:center;
    padding:0;
    margin:0;
  }
  
  .social-ul a{
    display:block;
    color:#fff;
    font-size:20px;
    text-decoration:none;
    cursor:pointer;
    margin:0 10px;
  }
  
  footer{
    background-color:#861657;
    color:#fff;
    padding:10px;
    text-align:center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 20px;
    width: 100%;
}
  
  @media(max-width:440px){
    section{
      padding:20px;
    }
  }